[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
looker-sdk = "*"
ipython = "*"
langchain = "*"
pandas = "*"
vertexai = "*"
chromadb = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
