<html>

<head>
    <title>Looker Dashboard Recommender: {{ room }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>$(document).ready(function () {
            $("#myInput").on('keypress', function (e) {
                if (e.which == 13) {
                    var input_msg = $("#myInput").val();
                    $("#chat").append("text: " + input_msg + '\r\n');
                    $("#data_show").empty();
                    $("#element_title").empty();
                    $("#dashboards").empty()
                    $.getJSON({
                        type: "GET",
                        url: "/input_msg",
                        data: {
                            'msg': input_msg,
                        },
                        success: function (data) {
                            best_response = data.response
                            best_element = data.best_element
                            top_dashboards = data.top_n_dashboards
                            $("#chat").append("response: " + best_response+ '\r\n');
                            $("#element_title").append(best_element);
                            $("#dashboards").append(top_dashboards);
                            console.log(data);
                        }
                    });
                }
            });
        });</script>
</head>
<div class="container">

    <body>
        <h1>Looker Dashboard Recommender: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input size="80" type="text" id="myInput" placeholder="what dashboards are going to reference sales and population data?"><br><br>
        <div id="element_title" class="container centered"></div>
    <div id="dashboards" class="container centered">Likely Dashboard Matches</div>
    </body>
</div>
</div>

</html>